{% extends "static\home\html\base.html" %}

{% block main %}

<div class="container">
    <h1 style="text-align:center"><b>EDITAR TIPO DE PRODUTO</b></h1>
</div>
<br>
<br>
<div class="container">
    <form action="{% url 'tipoproduto.update' tipoproduto.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">Descrição</label>
            <input name="descricao" type="text" class="form-control" id="exampleInputPassword1" value="{{tipoproduto.descricao}}">
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

    </form>
</div>
<br>
<br>
<div class="container">
    <a href="{% url 'tipoproduto.list' %}" class="btn btn-primary">Voltar</a>
</div>

{% endblock main %}
