{% extends "tipopapel_master.html" %}

{% block main %}
    <div class="btn-group-vertical">
        <a type="button" class="btn btn-secondary" href="/tipopapel/insert">Insert</a>
        <a type="button" class="btn btn-secondary" href="/">Voltar</a>
        
    </div>

    <div class="container">
        <h1 style="text-align:center"><b>TIPOS DE PAPEL</b></h1>
      </div>
      <br>
      <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
          {% for dbs in db %}
           <tr>
              <th>{{dbs.id}}</th>
              <td>{{dbs.descricao}}</td>
              <td><a href="{% url 'tipopapel.update' dbs.id %}">Update</a><a href="{% url 'tipopapel.delete' dbs.id %}">Delete</a></td>
            </tr>
          {% endfor %}
        
          </tbody>
        </table>
      </div>

{% endblock main %}

    
